@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style général du body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212; /* Noir profond pour le fond */
    color: #f5f5f5; /* Texte clair */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

    padding-bottom: 50px;
}

/* Titre du formulaire */
.titre {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titre h1 {
    font-size: 54px;
    font-weight: 800;
    color: #0096ff; /* Bleu électrique Kinepolis */
    text-align: center;
    padding: 5px;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(215, 27, 27, 0.7); /* Ombre subtile */
}


/* Style général du formulaire */
form {
    background-color: #1e1e1e; /* Fond sombre */
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); /* Ombre subtile */
}

/* Labels */
label {
    font-weight: bold;
    color: #0078d7; /* Bleu Kinepolis pour les labels */
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Champs de saisie */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2c2c2c; /* Fond sombre */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

input[type="text"]::placeholder {
    color: #bbbbbb; /* Placeholder gris clair */
}

/* Boutons */
button[type="submit"], button[type="button"] {
    width: 48%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #0096ff; /* Bleu Kinepolis */
    color: white;
    margin-right: 4%;
}

button[type="button"] {
    background-color: #e50914; /* Rouge vif pour annuler */
    color: white;
}

button:hover {
    opacity: 0.9; /* Effet hover */
}

/* Style pour les erreurs (si nécessaire) */
input[type="text"].error {
    border: 2px solid #ff4040; /* Rouge pour les erreurs */
}

/* Effet focus */
input[type="text"]:focus {
    outline: none;
    border: 2px solid #0096ff; /* Bleu Kinepolis en focus */
}

/* Style responsive pour petits écrans */
@media (max-width: 768px) {
    form {
        width: 90%;
    }

    .titre h1 {
        font-size: 36px;
    }

    button[type="submit"], button[type="button"] {
        width: 100%;
        margin-bottom: 10px;
    }
}
